{% extends 'base.html' %}

{% block title %}О сайте{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h5>Добро пожаловать на сайт <i>"Калькулятор инвестиционной привлекательности регионов России".</i></h5>
    <br>
    <p>Мы — команда <u>СисАдменусы</u>, специализирующаяся на разработке инновационных решений в области аналитики и визуализации данных.<br> 
        Нашей миссией является предоставление актуальной информации об инвестиционной привлекательности различных регионов России.</p>

        <p>Представленный на этом сайте инструмент — это тепловая карта, которая отражает инвестиционную привлекательность регионов Российской Федерации.</p> 

        <p>Для того, чтобы построить её, пользователю необходимо загрузить на сайт excel-файл с данными по следующим показателям:<br>
        <ul></ul>
        <li>Уровень безработицы населения в возрасте 15-72 лет(%);</li>
        <li>Реальные денежные доходы населения в (% к соответствующему периоду);</li>
        <li>Удельный вес организаций, использовавших персональные компьютеры (% от общего числа обследованных организаций соответствующего субъекта);</li>
        <li>Наличие основных фондов на конец года по полной учетной стоимости по полному кругу организаций (млн рублей);</li>
        <li>Численность занятых в сфере индивидуального предпринимательства (кол-во человек);</li>
        <li>Доля  инвестиций в основной капитал;</li>
        <li>Численность персонала. занятого научными исследованиями и разработками. по категориям и субъектам Российской Федерации (человек);</li>
        <li>Внутренние затраты на научные исследования и разработки (млн рублей);</li>
        <li>Жилищный фонд (тыс. кв. метры);</li>
        <li>Валовой региональный продукт (млн рублей).</li>
        </ul>
    </p>

        <p>Формат предоставления данных о регионах доступен в примере по <a href="{% url 'download_excel' %}">ссылке.</a></p>
</div>
{% endblock %}